.main{
    display: grid;
    grid-template-columns: 0.1fr 1fr  1fr; 
}

.drawer{
    border: 2px solid black;
}
.drawer>p{
    margin-left: 1em;
}
.displayWindow{
    border: 2px solid black;

}
.navigation{
    border: 2px solid black;

}
.nav-button{
    font-size: 1.5rem; 
    border-bottom: 2px solid black;
}